################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JncNet/.vs/JncNet/v17
/JncNet/obj
/JncNet/.vs/JncNet/DesignTimeBuild
